/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    @include padding-fixed(18, 0, 0, 0);
    @include breakpoint(820) {
        @include padding-fixed(18, 30, 18, 30);
    }
}

/*--------------------------------------------------------------
# Site Header Container
--------------------------------------------------------------*/
.site-header-container {
    align-items: inherit;
    display: block;
    justify-content: inherit;
    @include breakpoint(820) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

/*--------------------------------------------------------------
# Custom Logo Link
--------------------------------------------------------------*/
.custom-logo-link {
    @include center-block;
    @include breakpoint(820) {
        align-self: center;
        margin: 0;
    }
}

/*--------------------------------------------------------------
# Site Title
--------------------------------------------------------------*/
.insight-site-title {
    text-align: center;
    @include breakpoint(570) {
        align-self: flex-start;
        text-align: left;
        @include margin-left(10);
    }
    align-self: auto;
    @include breakpoint(820) {
        align-self: center;
    }
    h2 {
        margin-bottom: 0;
        a, a:visited {
            color: $text-color;
            &:hover, &:active {
                color: $link-color-hover;
            }
        }
    }
    span {
        @include margin-top(3);
        @include postmeta-typeset;
        display: block;
    }    
}
