/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.insight-main-nav {
    display: none;
    @include breakpoint(820) {
        @include floating-right;
        display: block !important;
    }
    ul {
        @include reset-list;
        margin-bottom: 0;
        li {
            @include border-top(1, solid, $light-border-color);
            margin-bottom: 0;
            &:first-child {
                border-top: none;
            }
            @include breakpoint(820) {
                @include floating-left;
                border: none;
            }
            a {
                @include padding-fixed(15, 18, 15, 18);
                @include typeset(15, 21);
                color: $text-color;
                display: block;
                font-weight: 700;
                @include breakpoint(820) {
                    @include padding-fixed(0, 18, 0, 18);
                    @include typeset(15, 40);
                }
                &:not(:only-child):after {
                    @include padding-left(4);
                    content: ' ▾';
                    position: absolute;
                    right: px(18);
                    right: rem(18);
                    top: 33%;
                    @include breakpoint(820) {
                        position: relative;
                        right: auto;
                        top: -(px(1));
                        top: -(rem(1));
                    }
                }
                &:hover, &:active {
                    color: $link-color;
                }
            }
            ul {
                background-color: $dark-bg-color;
                display: none;
                margin-top: 0;
                @include breakpoint(820) {
                    min-width: px($col-2-width);
                    min-width: rem($col-2-width);
                    position: absolute;
                    top: 100%;
                    z-index: 5000;
                }
                li {
                    border-top-color: $alpha-ten-white;
                    float: none;
                    a {
                        color: $white;
                        @include padding-fixed(15, 18, 15, 18);
                        @include breakpoint(820) {
                            @include padding-fixed(12, 18, 12, 18);
                            @include typeset(15, 21);
                        }
                        &:hover, &:active {
                            background-color: $link-color;
                            color: $white;
                        }
                    }
                }
                .current-menu-item {
                    a {
                        background-color: $link-color;
                        color: $white;
                    }
                }
            }
        }
        .primary-menu-button {
            border-top: none;
            a {
                background-color: $primary-button-color;
                color: $white;
                &:hover, &:active {
                    background-color: $primary-button-color-hover;
                    color: $white;
                }
                @include breakpoint(820) {
                    border-radius: px(4);
                    border-radius: rem(4);
                }
            }
        }
        .current-menu-item {
            a {
                color: $link-color;
            }
        }
        .current-menu-item.primary-menu-button {
            a {
                color: $white;
            }
        }
    }
}

/*--------------------------------------------------------------
# Menu Toggle
--------------------------------------------------------------*/
.main-menu-toggle.primary-button {
    @include margin-top(18);
    border-radius: 0;
    text-align: center;
    width: 100%;
    @include breakpoint(720) {
        display: block;
    }
    @include breakpoint(820) {
        display: none;
    }
}
