.category-container {

    display: inline-block;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .category-container-box {

        justify-content: flex-start;
        @include postmeta-typeset;
        
        margin: 0;
        @include margin-bottom(30);        
        width: 100%;

        text-align: left;

        @include border(1, solid, $light-border-color);

        .category-container-box-header {
            color: $header-color;
            background-color: $light-bg-color;
        }
        
        h2 {
            @include padding-fixed(11, 30, 0, 30);
            
            @include typeset(18, 18);
            margin-bottom: 0;
        }
        h3 {
            @include padding-fixed(0, 30, 11, 30);
            @include border-bottom(3, solid, $light-border-color);
            font-weight: 300;
            @include typeset(14, 30);
            @include margin-bottom(0);
        }
        
        @include breakpoint(485) {
            @include grid-width($col-3-width);
            flex: 1 1 auto;
            @include margin-fixed(15,0,15,30);        
        }

        @include breakpoint(845) {            
            @include margin-fixed(15,0,15,30);        
            @include grid-width($col-4-width);
        }
        
        ul {            
            @include reset-list;
            @include padding-fixed(15, 30, 0, 30);
            @include margin-bottom(0);
            text-align: left;
            li {
                @include typeset(15, 26);
                @include padding-bottom(5);
                @include border-bottom(1, solid, $light-border-color);
                //@include border-bottom(1, solid, $gray-bg-color);
            }
            li:last-child {
                @include margin-bottom(0);
            }
        }

        .category-box-link {
            @include padding-fixed(15, 30, 15, 30);
            a.button {
                text-align: center;
                width: 100%;
                background-color: $primary-button-color;
                color: $primary-button-text-color;
                @include padding-top(12);
                @include padding-bottom(12);
                @include typeset(12, 22);
                :hover {
                    color: $primary-button-text-color;
                }
            } 
        }
        
    }
    
}
