.insight-section {
    text-align: center;
    @include padding-fixed(15, 15, 15, 15);
    @include breakpoint(820) {
        @include padding-fixed(45, 15, 45, 15);
    }    
    h1, h2 {
        @include typeset($header-1-size, (11 * $vertical-rhythm-multiple));
    }

    .insight-article-button {
        @include padding-fixed(30, 27, 15, 27);
        margin-top: 0;
        @include grid-width($col-12-width);
        @include breakpoint(820) {
            width: 100%;
        }
        
        .primary-button {
            background-color: $primary-button-color;
            
            @include grid-width($col-12-width);
            @include breakpoint(820) {
                width: auto;
            }
        }
    }
    .insight-index-search {

        display: block;
        width: 100%;

        padding: 0;
        
        @include breakpoint(485) {
            @include padding-fixed(15, 15, 15, 15);
            @include grid-width($col-12-width);
        }

        .index-search-input {
            @include margin-bottom(15);            
        }

        @include breakpoint(820) {
            width: auto;
        }
        
    }
}
.insight-container {
    @include clearfix;
    @include grid-width($col-12-width);
    @include center-block;
}
