#sidebar-primary {
    a {
        color: $white;
        &:hover {
            color: $link-color-hover;
        }
    }
}

.insight-section {
    text-align: center;
    @include padding-fixed(15, 15, 15, 15);    
    @include breakpoint(820) {
        @include padding-fixed(45, 15, 0, 15);
    }    
    h1, h2 {
        @include typeset($header-1-size, (11 * $vertical-rhythm-multiple));
    }

    .insight-article-button {
        @include padding-fixed(30, 27, 15, 27);
        margin-top: 0;
        @include grid-width($col-12-width);
        @include breakpoint(820) {
            width: 100%;
        }
        
        .primary-button {
            background-color: $primary-button-color;
            
            @include grid-width($col-12-width);
            @include breakpoint(820) {
                width: auto;
            }
        }
    }
    .insight-index-search {        

        padding: 0;
        
        @include breakpoint(485) {
            @include padding-fixed(15, 15, 0, 15);
            @include grid-width($col-12-width);
            
        }

        .index-search-input {
            
            display: block;
            width: 100%;

            @include padding-fixed(12, 12, 12, 12);

            @include margin-bottom(15);            

            @include breakpoint(485) {
                display: inline;
                max-width: 100%;
                width: px(120 * $vertical-rhythm-multiple);
                width: rem(120 * $vertical-rhythm-multiple);
                @include margin-bottom(0);
            }
            
        }

        .index-search-button {
            width: 100%;
            
            @include breakpoint(485) {
                width: auto;
            }
        }

        @include breakpoint(820) {
            width: auto;
        }
        
    }
}
.insight-container {
    @include clearfix;
    @include grid-width($col-12-width);
    @include center-block;
}
