/*--------------------------------------------------------------
# Floats and Alignments
--------------------------------------------------------------*/
.clear {
    @include clearfix;
}

.aligncenter {
    @include center-block;
}

.alignleft {
    @include floating-left;
}

.alignright {
    @include floating-right;
}

/*--------------------------------------------------------------
# Screen Reader Text
--------------------------------------------------------------*/
.screen-reader-text {
    @include screen-reader;
}

/*--------------------------------------------------------------
# Hide Elements
--------------------------------------------------------------*/
.invisible {
    @include hide-element;
}

/*--------------------------------------------------------------
# Default Background Color
--------------------------------------------------------------*/
.default-bg-color {
    background-color: $white;
}

/*--------------------------------------------------------------
# Light Background Color
--------------------------------------------------------------*/
.light-bg-color {
    background-color: $light-bg-color;
}

/*--------------------------------------------------------------
# Dark Background Color
--------------------------------------------------------------*/
.dark-bg-color {
    background-color: $dark-bg-color;
}
